#titleHeader {
    background-color: white;
    height: 27px;
    margin-top: 0;
}

#menuAndYoutubeIcon {
    padding: 8px 0 0 1%;
}

#rightSideIcons {
    float: right;
    padding-right: 1%;
}

#content {
    background-color: #F9F9F9;
    display: inline-block;
    padding: 20px 1.5% 0 1.5%;
    width: 97%;
    height: 1500px;
}

#leftSideContainer {
    float: left;
    width: 68%;

    margin-left: 2%;
}

#videoContainer {
    position: relative;
    float: left;
    width: 98%;
}

#videoAspectAdjuster {
    margin-top: 56.25%;
}

#videoFrame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.leftSideContent {
    display: block;
    position: relative;
}

.widthSet {
    position: relative;
    width: 100%;
}


#nextVideoSidebar {
    float: right;
    width: 28%;
}

.upcomingVideo {
    width: 100%;
}